.container{
    max-width: 960px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.block{
    width:calc(100%/5 - 20px);
    min-height: 200px;
    border: 1px solid black;
    font-size: 60px;
    font-family: Arial;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    margin-bottom: 20px;
    
}
.block:nth-child(1){
    background-color: #acf4b5;
}
.block:nth-child(2){
    background-color: #fee974;
}
.block:nth-child(3){
    background-color: #5efffa;
}
.block:nth-child(4){
    background-color: #e6b4fd;
}
.block:nth-child(5){
    background-color: #8dffce;
}
@media(max-width:992px){
    .block{
       width:calc(100%/3 - 20px); 
    }
    .block:nth-child(4){
    width:calc(100%/2 - 20px);
    }
.block:nth-child(5){
    width:calc(100%/2 - 20px); 
    }
}
@media(max-width:768px){
    .block{
       width:calc(100%/2 - 20px); 
    }
.block:nth-child(5){
    width:100%; 
    }
}